html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  background-color:rgb(236, 253, 251)
}

h1 {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  text-align: center;
  font-size: large;
}

h3, h4{
  font-size: medium;
  text-align:center;
}

h2, h3, h4{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;
  align-content: center;
  margin-left: auto;
  width: 100%;
  height:100%;
  background-color: rgb(180, 246, 190);
}

button:hover {
  align-content: center;
  margin-left: auto;
  width: 100%;
  background-color:rgb(203, 247, 209);
}

.close {
  background-color: rgb(244, 125, 125);
}

.close:hover {
  background-color: rgb(250, 177, 177);
}

.container {
  display: flex;
}

.slot {
  flex:20%;
  align-content: center;
  text-align: center;
}

#multiplayer {
  cursor: pointer;
  align-content: center;
  margin-left: auto;
  width: 100%;
  height:5%;
  background-color: rgb(180, 246, 190);
}

#shopTitle {
  flex:80%;
  align-content: center;
  text-align: center;
}

#coins {
  flex:content;
  border:1px solid black;
  align-content: center;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.shopItem {
  margin: 2px;
}

#powerups {
  flex: grow 100%;
}

#game {
  flex: 5;
  max-height: 500px;
  background-color: black;
}

#shop {
  margin: 20px 20px;
  border: 1px solid black;
}

#left {
  flex: 2;
}

#center {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right {
  flex: 2;
}

.ad {
  height: 117px;
  align-content: center;
}

.adPress {
  font-weight: bolder;
  background-color: rgb(245, 236, 70);
}

.adPress:hover {
  font-weight: bolder;
  background-color: rgb(245, 237, 166);
}

div {
  border: none;
}

.col {
  margin: 0px 5px;
  padding: 5px;
}

#left, #ads {
  display: flex;
  flex-direction: column;
}

#top {
  flex: 1;
  display: flex;
  align-items: center;
}

#middle {
  display: flex;
  flex: 9;
}

.title_header {
  display: flex;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 500px;
  height: 500px;
  margin-left: -250px; /*Half the value of width to center div*/
  margin-top: -250px; /*Half the value of height to center div*/
  z-index: 200;
}

#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}
