body {
    background-color:beige;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    border:1px solid black;
}

button {
    align-content: center;
    margin-left: auto;
    width: 100%;
    height: 100%
}

p {
    text-align: center;
    margin-left: auto;
}

#container {
    display: flex;
}

#vert-container {
    display: flex;
    flex-direction: column;
}

#title {
    flex:80%;
}

#coins {
    flex:20%;
}

#left {
    flex: 30%;
    margin-left: auto;
}

.ad {
    height: 143.95px;
    align-content: center;
}

#right {
    flex: 70%;
    margin-right: auto;
}

.item {
    text-align: center;
    flex:30%;
}

.want {
    text-align: center;
    align-content: center;
    margin-left: auto;
    width: 20%;
}

.slot {
    flex:20%;
    align-content: center;
    text-align: center;
}