body {
    background-color:rgb(236, 253, 251);
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
}

h2 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button {
    cursor: pointer;
    align-content: center;
    margin-left: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(180, 246, 190);
}

button:hover {
    align-content: center;
    margin-left: auto;
    width: 100%;
    height: 100%;
    background-color:rgb(203, 247, 209);
}

p {
    text-align: center;
    margin-left: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#title-container {
    display: flex;
    border:none;
}

.container {
    display: flex;
}

.close {
    background-color: rgb(244, 125, 125);
}

.close:hover {
    background-color: rgb(250, 177, 177);
}

#back {
    flex:10%;
    margin: 5px 5px ;
}

#title {
    flex:80%;
    margin: 5px 5px;
}

#coins {
    flex:10%;
    border:4px solid black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:xx-large;
    align-content: center;
    margin: 5px 5px;

}

#left {
    display: flex;
    margin: 0px 5px;
    flex-direction: column;
}

.ad {
    flex-grow: 1;
    align-content: center;
}

.adPress {
    font-weight: bolder;
    background-color: rgb(245, 236, 70);
}

.adPress:hover {
    font-weight: bolder;
    background-color: rgb(245, 237, 166);
}

#right {
    flex: 70%;
    margin-right:5px;
}

.item {
    text-align: center;
    flex:30%;
}

.itemPress {
    background-color: rgb(247, 216, 169);
}

.itemPress:hover {
    background-color: bisque;
}

.want {
    text-align: center;
    font-weight: bolder;
    align-content: center;
    margin-left: auto;
    width: 20%;
}

.wantPress {
    background-color: rgb(158, 230, 250);
}

.wantPress:hover {
    background-color: rgb(178, 233, 248);
}

.slot {
    flex:20%;
    align-content: center;
    text-align: center;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: 200;
}

#popupclose {
    float: right;
    padding: 10px;
    cursor: pointer;
}

